body {
  font-size: 2em;
  font-family: "Sofadi One", cursive;
  text-align: center;
  color: white;
  background-image: linear-gradient(to right, #0a231a, #134532, #2ea879);
}

h2 {
  font-size: 1.5em;
}

.reset {
  font: 15px;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  color: #6f7271;
  padding: 10px;
  margin: 30px;
}

.square {
  background: #fff;
  border: 2px solid #6f7271;
  float: left;
  font-size: 50px;
  font-weight: bold;
  line-height: 34px;
  height: 125px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 125px;
}

.grid-container {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 125px);
  grid-template-rows: repeat(3);
}
